* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
    color: black;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: white;
}

/* headings and logo */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    padding: 70px;
}

#logo {
    font-size: 280%;
    color: black;
    letter-spacing: 2px;
}

#menu {
    display: flex;
    gap: 20px;
}

.menu-item a {
    font-size: 150%;
    text-decoration: none;
}

.menu-item a:hover {
    color: rgb(67, 31, 196);
}

.active {
    border-bottom: solid 1px rgb(67, 31, 196);
    color: rgb(67, 31, 196);
}

.active:hover {
    border-bottom: solid 1px rgb(67, 31, 196);
}

/* hero section */

#hero {
    background-image: url("../images/Chris-McCullen-Gallery-23.webp");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 3rem;
}

#hero-header, #hero-text {
    color: rgb(67, 31, 196);
}

/* gallery carusel */

#carusel-header {
    display: flex;
    flex-direction: column;
}

#carusel-header > h2 {
    font-size: 36px;
    font-weight: 300;
    padding: 95px 40px 20px 40px;
    text-align: center;
}

.button {  
    align-self: center;
    text-align: center;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    color: #3a4149;
    background: rgb(205, 197, 231);
    font-size: 16px;
    width: 250px;
    margin-bottom: 30px;
}

.button:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px rgb(67, 31, 196);
    color: rgb(67, 31, 196);
}

input{display: none;}

.carusel{
    position: relative;
    max-width: 1200px;
    height: 600px;
    max-height: 100vh;
    margin: 20px auto;
    overflow: hidden;
    user-select: none;
}

.carusel__item {
    position: absolute; 
    z-index: 1;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: center no-repeat;
    background-size: contain;
    transition: left 0.5s, transform 0.5s;
    will-change: transform;
    backface-visibility: hidden;
}

.carusel__arrow {
    display: none;
    position: absolute;
    top: 50%;
    z-index: 3;
    transform: translateY(-50%);
    opacity: 0.7;
    color: #fff;
    background-color: #999;
    cursor: pointer;
    padding: 10px; 
    font-size: 28px;
    line-height: 39px;
    font-weight: bold;
}

input:checked+div~div~div~div .carusel__item {background-image: none !important;}
input:checked+div *, input:checked+div+input+div .carusel__item, input:checked+div+input+div+input+div * {display: block;}

input:checked+div .carusel__item {left: -100%; transform: scale(0.4);}
input:checked+div+input+div .carusel__item {left: 0; transform: scale(1);}
input:checked+div+input+div+input+div .carusel__item {left: 100%; transform: scale(0.4);}

input:checked+div .carusel__arrow {left: 0;}
input:checked+div+input+div+input+div .carusel__arrow {right: 0;}

input:checked+div .carusel__arrow:before {content: '❰';}
input:checked+div+input+div+input+div .carusel__arrow:before{content: '❱';}


/* collaboration section */

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 85px;
    background-color: rgb(236, 230, 230);
}

.grid-cell {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.grid-cell h2 {
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 10px;
}

.grid-cell p {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    padding: 20px;
}


#home-artist {
    background-image: url("../images/Chris-McCullen-Gallery-26.webp");
}

#home-contact {
    background-image: url("../images/Chris-McCullen-Gallery-25.webp");
}

#home-artist, #home-contact {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* footer */

#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
    padding: 30px;
    letter-spacing: 1px;
}

#footer-social {
    display: flex;
    align-items: center;
}

#footer-social p {
    padding-right: 20px;
}

#footer-social i {
    font-size: 200%;
    color: rgb(67, 31, 196);
}

.fa-brands:hover {
    color: rgb(196, 31, 67);
}

/* Artwork page */

.hello {
    opacity: 1 !important;
  }
  .full {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .full .content {
    background-color: rgba(0,0,0,0.75) !important;
    height: 100%;
    width: 100%;
    display: grid;
  }
  .full .content img {
    left: 50%;
    transform: translate3d(0, 0, 0);
    animation: zoomin 1s ease;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }
  .byebye {
    opacity: 0;
  }
  .byebye:hover {
    transform: scale(0.2) !important;
  }
  .gallery {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 8px;
  }
  .gallery img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 16px #333;
    transition: all 1.5s ease;
  }
  .gallery img:hover {
    box-shadow: 0 0 32px #333;
  }
  .gallery .content {
    padding: 4px;
  }
  .gallery .gallery-item {
    transition: grid-row-start 300ms linear;
    transition: transform 300ms ease;
    transition: all 0.5s ease;
    cursor: pointer;
  }
  .gallery .gallery-item:hover {
    transform: scale(1.025);
  }
  @media (max-width: 600px) {
    .gallery {
      grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    }
  }
  @media (max-width: 400px) {
    .gallery {
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
  }
  @-moz-keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
  }
  @-webkit-keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
  }
  @-o-keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
  }
  @keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
  }

  /* About Artist Section*/

  #about-artist {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background-color:rgb(236, 230, 230);
  }

  #artist-image {
    width: 300px;
    margin: 40px 0;
  }

  #about-artist h2 {
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 10px;
}

  #about-artist p {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    padding: 10px;
}